:local {
	.form {
		animation: fadeIn 0.8s ease-in-out;
		border-radius: inherit;

		.controls {
			border: 2px groove #c5b7b7;
			border-radius: inherit;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: space-between;
			margin-bottom: 0.5rem;
			padding: 0.5rem 2.2rem 1rem;
			text-align: left;
		}

		.control {
			.label {
				display: block;
				font-weight: bold;
				margin-bottom: 0.25rem;
				width: fit-content;
			}

			.input {
				background-color: #fff;
				border-radius: 6px;
				border: 1px solid #ccc;
				box-shadow: 0 0 5px #000;
				font: inherit;
				max-width: 100%;
				padding: 0.5rem;
				transition: 0.4s all;
				width: 20rem;

				&:active,
				&:focus,
				&:hover {
					background-color: rgba(81, 45, 98, 0.204);
					border-color: #510674;
					box-shadow: 0 0 2.5px #000;
				}

				&:focus {
					outline: none;
				}
			}

			.inputDateWrapper {
				position: relative;

				.date {
					display: inline-block;
					position: relative;
					transition: 1s padding;

					& + .inputDateIcon::before {
						animation: back 0.8s linear;
						background: transparent
							url(/shared/icons/calendar_events_schedule_icon.svg) 97% 50% no-repeat;
						background-size: 9.5%;
						bottom: 0;
						content: "";
						left: 0;
						pointer-events: none;
						position: absolute;
						right: 0;
						top: 0;
						transition: 0.8s background ease-in-out;
					}

					&::-webkit-inner-spin-button {
						display: none;
					}

					&::-webkit-calendar-picker-indicator {
						background: transparent;
						bottom: 0;
						color: transparent;
						cursor: pointer;
						height: auto;
						left: 0;
						opacity: 0;
						position: absolute;
						right: 0;
						top: 0;
						width: auto;
					}

					&:active,
					&:focus,
					&:hover {
						padding-left: 2.6rem;
					}

					&:active + .inputDateIcon::before,
					&:focus + .inputDateIcon::before,
					&:hover + .inputDateIcon::before {
						animation: display 0.8s linear;
						background-position: 3% 50%;
					}
				}
			}
		}

		.btnWrapper {
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;
			justify-content: flex-end;
			margin: 0 0.2rem 0 0;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes back {
	0% {
		opacity: 1;
	}

	5% {
		opacity: 0.8;
	}

	10% {
		opacity: 0.4;
	}

	15% {
		opacity: 0;
	}

	45% {
		opacity: 0;
	}

	50% {
		opacity: 0.1;
	}

	55% {
		opacity: 0.2;
	}

	60% {
		opacity: 0.3;
	}

	65% {
		opacity: 0.4;
	}

	70% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.7;
	}

	85% {
		opacity: 0.75;
	}

	92% {
		opacity: 0.8;
	}

	94% {
		opacity: 0.85;
	}

	96% {
		opacity: 0.9;
	}

	98% {
		opacity: 0.95;
	}

	100% {
		opacity: 1;
	}
}

@keyframes display {
	0% {
		opacity: 1;
	}

	5% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	15% {
		opacity: 0.85;
	}

	20% {
		opacity: 0.8;
	}

	25% {
		opacity: 0.7;
	}

	30% {
		opacity: 0.6;
	}

	35% {
		opacity: 0.5;
	}

	40% {
		opacity: 0.4;
	}

	45% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.1;
	}

	55% {
		opacity: 0;
	}

	85% {
		opacity: 0;
	}

	92% {
		opacity: 0.2;
	}

	94% {
		opacity: 0.4;
	}

	96% {
		opacity: 0.6;
	}

	98% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
	}
}
